<h1>Welcome to the Bestestesteder Site EVERRRRRRRrrrrr!!!1!.!!...!!!...aarrrrrrr</h1>
<div class="wrapper">
  
  <!--*** NAV ***-->
  <aside class="nav">
    
    <span class="nav-item"> <a class="link" routerLink='dinner'>Dinner</a> </span>
    <span class="nav-item"> <a class="link" routerLink='dog'>Dog</a>       </span>
    <span class="nav-item"> <a class="link" routerLink='star'>Star</a>     </span>
    
  </aside>
  
  <!--*** MAIN ***-->
  <section class="main">
    
    <router-outlet></router-outlet>
    
  </section>
  
</div>